head
	title Bessy Theodoropoulou
	link(rel="icon", type="image/png" href="../public/favicon-32x32.png")
	link(rel='stylesheet', href='styles/app.css')
	link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800")
	link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")
	link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
	meta(property="og:image" content="../public/ogimage.png")
	meta(property="og:title" content="Bessy Theodoropoulou")
	meta(property="og:description" content="Frontend Developer/Designer")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(charset="utf-8")
body 
	div(class='row align-items-center justify-content-center no-gutters page')
		div(class='col-12 col-xl-4')
			div(class='col-10 col-xl-12 image')
				img(class='mx-auto d-block' src='../public/bessy.png' alt='bessy')
			div(class='text-center')
				h2 Bessy Theodoropoulou
				h5 Frontend Developer/Designer
			div(class='social')
				div(class='row social-items')
					div(class='col-4')
						a(href='https://www.facebook.com/bessy.bessy')
							span
								i(class='fa fa-facebook fa-lg')
					div(class='col-4')
						a(href='https://twitter.com/Bessy_Th')
							span 
								i(class='fa fa-twitter fa-lg')
					div(class='col-4')
						a(href='https://www.instagram.com/darthbessy/')
							span
								i(class='fa fa-instagram fa-lg')
				div(class='row social-items')
					div(class='col-4')
						a(href='https://www.linkedin.com/in/bessy-theodoropoulou-baa6587a/')
							span
								i(class='fa fa-linkedin fa-lg')
					div(class='col-4')
						a(href='https://github.com/Besssy')
							span
								i(class='fa fa-github fa-lg')
					div(class='col-4')
						a(href='mailto:contact@bessytheodoropoulou.com')
							span
								i(class='fa fa-envelope fa-lg')
		div(class='col-12 col-xl-7')
			div(class='content-box about')
				div(class='title text-center')
					div(class='d-inline-block curl')
						img(src='../public/left-curl.png')
					h4(class='d-inline-block') About
					div(class='d-inline-block curl')
						img(src='../public/right-curl.png')
				div(class='content text-center')
					p Hi, I am Bessy and I am a passionate frontend web developer/designer located in Greece.
					p I enjoy turning complex problems into simple and beautiful designs using the latest technologies.
					p I like meeting people and learning new things, and I am always ready for the next challenge. 
					p My personal motto is “Make Pure Awesomeness”.
			div(class='content-box')
				div(class='title text-center')
					div(class='d-inline-block curl')
						img(src='../public/left-curl.png')
					h4(class='d-inline-block') Recent Collaborations
					div(class='d-inline-block curl')
						img(src='../public/right-curl.png')
				div(class='row content justify-content-center companies')
					a(class='col-5 col-sm-4 text-center' href='https://helvia.io')
						img(src='../public/helvia.png')
					a(class='col-5 col-sm-4 text-center' href='https://intrideo.com')
						img(src='../public/intrideo.png')
			div(class='content-box')
				div(class='title text-center')
					div(class='d-inline-block curl')
						img(src='../public/left-curl.png')
					h4(class='d-inline-block') Favourite Technologies
					div(class='d-inline-block curl')
						img(src='../public/right-curl.png')
				div(class='container')
					div(class='content text-center')
						div(class='row tech-items')
							div(class="col-4")
								a(href='https://v4-alpha.getbootstrap.com')
									img(src='../public/bootstrap.png')
							div(class="col-4")
								a(href='http://sass-lang.com')
									img(src='../public/sass.png')
							div(class="col-4")
								a(href='http://lesscss.org')
									img(src='../public/less.png')
						div(class='row tech-items')
							div(class="col-4")
								a(href='http://es6-features.org/')
									img(src='../public/es6.png')
							div(class="col-4")
								a(href='https://jquery.com/')
									img(src='../public/jquery.png')
							div(class="col-4")
								a(href='https://facebook.github.io/react/')
									img(src='../public/react.png')
						div(class='row tech-items')
							div(class="col-4")
								a(href='www.photoshop.com')
									img(src='../public/photoshop.png')
							div(class="col-4")
								a(href='http://www.adobe.com/gr_en/products/illustrator.html')
									img(src='../public/illustrator.png')
							div(class="col-4")
								a(href='https://inkscape.org/')
									img(src='../public/inkscape.png')
	div(class='row no-gutters')
		div(class='col-12 footer text-center')
			p Copyrights © Bessy Theodoropoulou 2017

